.a{
    display:inline;
    width: 25px;
    height: 20px;
    margin: 10px;
}
.b{
    text-align: center;
    margin-inline:inherit;
    border: 5px groove rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    background-color: rgb(67, 70, 253);
    margin: 10px;
}
.c{
    margin-top: 25px;
    text-align: center;
    margin-inline:inherit;
    border: 5px groove rgb(204, 0, 255);
    width: 60px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(30, 221, 30);
    margin: 10px;
}
.elem{
    display: inline-block;
    border: 1px solid rgb(67, 154, 253);
    margin: 4px;
    width: 150px;
    height: 100px;
    margin: 10px;
}

.outerDiv{
    border: 1px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 300px;
    margin: 10px;
}

.small{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 128, 0);
}

.medium{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(0, 128, 0);
}

.big{
    width: 200px;
    height: 100px;
    border: 1px solid rgb(0, 128, 0);
}

.dd{
    display: flex;
    width: 300px;
    height: 100px;
    border: 1px solid rgb(173, 255, 47);
    align-items:center;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.dd a{
    display: inline;
}

.d {
    display: flex;
    width: 200px;
    height: 100px;
    border: 1px solid rgb(139, 69, 19);
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding-right: 8px;
}

.d a{
    display: inline;
}

.ref{
    display: flex;
    width: 250;
    height: 125px;
    border: 1px solid rgb(23, 139, 0);
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.ref .mailru{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(119, 14, 19);
    text-align: center;
    margin-right: 7px;
}

.g10{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgb(255, 0, 0);
    height: 300px;
    width: 600px;
    margin: 10px;
}

.g10 .g10_child{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(7, 192, 17);
    display: inline-block;
}

.g11
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid rgb(255, 0, 0);
    margin: 10px;
}

.g11 .g11_child{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(7, 192, 17);
    display: inline-block;
}

.g12
{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 0, 0);
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.g12 .g12_child{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(7, 192, 17);
    display: inline-block;
}

.g13{
    display: flex;
    direction: row;
    justify-content:space-between ;
    border: 1px solid rgb(255, 0, 0);
    padding: 20px;
    margin: 10px;
}

.g13 .g13_child{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(7, 192, 17);
    display: inline-block;
}

.g14
{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 0, 0);
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px auto;
    margin: 10px;
    height: 200px;
    width: 500px;
}

.g14 .g14_child{
    height: 70px;
    width: 70px;
    border: 1px solid rgb(7, 192, 17);
    display: inline-block;
}

.g15{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(255, 0, 0);
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px auto;
    height: 200px;
    margin: 10px;
    width: 500px;
}

.z15 .z15_child{
    height: 70px;
    width: 70px;
    border: 1px solidrgb(7, 192, 17);
    display: inline-block;
}